<ion-view view-title="Demos">
  <ion-content>
    <ion-list>
      <ion-item href="#/tab/game2048">
        <h2>2048</h2>
      </ion-item>
      <ion-item class="item item-divider">
        CSS
      </ion-item>
      <ion-item href="#/tab/littlehuang">
        <h2>小黄人</h2>
      </ion-item>
      <ion-item class="item item-divider">
        GAMES
      </ion-item>
      <ion-item href="#/tab/game2048">
        <h2>2048</h2>
      </ion-item>
      <ion-item href="#/tab/wuziqi">
        <h2>五子棋</h2>
      </ion-item>
      <ion-item href="#/tab/tetris">
        <h2>俄罗斯方块</h2>
      </ion-item>
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
        <!--<img ng-src="{{chat.face}}">-->
        <!--demo<h2>{{chat.name}}</h2>-->
        <!--<p>{{chat.lastText}}</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      <!--</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
