<ion-view view-title="littlehuang">
  <ion-content >
    <div class="wrapper"><!-- 容器 -->
      <div class="littleH"><!-- 小黄人 -->
        <div class="bodyH"><!-- 身体 -->
          <div class="trousers"><!-- 裤子 -->
            <div class="condoleBelt"><!-- 吊带 -->
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <!--<div class="trousers_top"></div>&lt;!&ndash; 裤子突出的矩形部分 &ndash;&gt;-->
            <!--<div class="pocket"></div>&lt;!&ndash; 裤袋 &ndash;&gt;-->
            <!-- 三条线 -->
            <!--<span class="line_left"></span>-->
            <!--<span class="line_right"></span>-->
            <!--<span class="line_bottom"></span>-->
          </div>
        </div>
        <!--<div class="hair">&lt;!&ndash; 头发 &ndash;&gt;-->
          <!--<span class="left_hair_one"></span>-->
          <!--<span class="left_hair_two"></span>-->
        <!--</div>-->
        <!--<div class="eyes">&lt;!&ndash; 眼睛 &ndash;&gt;-->
          <!--<div class="leftEye">&lt;!&ndash; 左眼 &ndash;&gt;-->
            <!--<div class="left_blackEye">-->
              <!--<div class="left_white"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="rightEye">&lt;!&ndash; 右眼 &ndash;&gt;-->
            <!--<div class="right_blackEye">-->
              <!--<div class="right_white"></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="mouse">&lt;!&ndash; 嘴巴 &ndash;&gt;-->
          <!--<div class="mouse_shape"></div>-->
        <!--</div>-->
        <!--<div class="hands">&lt;!&ndash; 双手 &ndash;&gt;-->
          <!--<div class="leftHand"></div>-->
          <!--<div class="rightHand"></div>-->
        <!--</div>-->
        <!--<div class="feet">&lt;!&ndash; 双脚 &ndash;&gt;-->
          <!--<div class="left_foot"></div>-->
          <!--<div class="right_foot"></div>-->
        <!--</div>-->
        <!--<div class="groundShadow"></div>&lt;!&ndash; 脚底阴影 &ndash;&gt;-->
      </div>
    </div>
  </ion-content>
</ion-view>
